.productContainer{
    display: flex;
    flex-wrap: wrap;
    
}
.productContainer>div{
    align-items: center;
    text-align: center;
    max-width: 200px;
    box-shadow: 0 0 10px rgb(85, 43, 43);
    margin: 10px;
}
.productContainer>div:hover{
  background-color: chocolate;
}